@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'Transformer';
  src: url('/fonts/transformerfont/Transformers.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Racing';
  src: url('/fonts/racingfont/RacingEngine-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ice';
  src: url('/fonts/ice/ice.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-size: 50px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-transformer: Transformer, sans-serif;
  --font-racing: Racing, sans-serif;
  --font-ice: Ice, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

